.div1 {
    float: left; 
    position: relative; 
    left: 50%;
}
.div2 {
  float: left; 
  position: relative; 
  left: -50%;
}

.title-button {
    
    background-color: #181818;
    color: white;
    text-align: center;
    border: solid 2px;
    border-color: white;
    font-size: 18px;
    width: 250px;
    height: 60px;
    padding: 20px;
    margin: 2px;
    margin-bottom: 25px;
    border-radius: 10px;

    cursor: pointer;
    transition: 
      background-color 1s;
  }

  .title-button:hover {
    background-color: #3D3D3D;
  }
.image {
  display:inline;
  text-align: center;
  width: 90%;
  height: auto;
  padding: 20px;
  float: left; 
  position: relative; 
  left: 5%;
  border:  solid 2px;
  border-color: white;
  border-radius: 15px;
  margin-bottom: 5%;
}